* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background-color: #cccccc;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card::before {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: circle(150px at 80% 20%);
    background-color: steelblue;
    position: absolute;
    z-index: 1;
    transition: all 0.5s;
}

.card:hover::before {
    clip-path: circle(300px at 90% -20%);
}

.card::after {
    content: "adidas";
    font-size: 8em;
    color: rgb(255,255,255,0.3);
    font-style: italic;
    font-weight: 700;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__shoes {
    width: 70%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.5s;
}

.card__shoes img {
    width: 100%;
}

.card:hover .card__shoes {
    top: 30%;
}

.card__adidas-text {
    position: absolute;
    bottom: 22%;
    width: 100%;
    text-align: center;
    color: #2a2a2a;
    font-size: 1.2em;
    z-index: 1;
    transition: all 0.7s;
}

.card:hover .card__adidas-text {
    bottom: 40%;
}

.card__size__color {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.7s;
}

.card:hover .card__size__color {
    bottom: 15%;
    opacity: 1;
    transition-delay: 0.5s;
}

.card__size {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__size__number span {
    color: #2a2a2a;
    font-size: 0.95em;
    font-weight: 600;
    cursor: default;
}

.card__size__number button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #4e4e4e;
    background-color: #4e4e4e;
    color: #cccccc;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.card__size__number button:hover {
    color: steelblue;
    background-color: rgb(255,255,255,0.3);
    border: 1px solid rgb(255,255,255,0.3);
}

.card__color {
    width: 140px;
    height: 40px;
    opacity: 0;
    transition: all 0.5s;
}

.card:hover .card__color {
    opacity: 1;
    transition-delay: 1.2s;
}

.card__color__number {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__color__number span:nth-child(1) {
    color: #2a2a2a;
    font-size: 0.95em;
    font-weight: 600;
    cursor: default;
}

.card__color__number span:nth-child(2) {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: seagreen;
    transition: all 0.2s;
}

.card__color__number span:hover:nth-child(2) {
    transform: scale(1.5);
}

.card__color__number span:nth-child(3) {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: royalblue;
    transition: all 0.2s;
}

.card__color__number span:hover:nth-child(3) {
    transform: scale(1.5);
}

.card__color__number span:nth-child(4) {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: firebrick;
    transition: all 0.2s;
}

.card__color__number span:hover:nth-child(4) {
    transform: scale(1.5);
}

.card__buy-now {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s;
}

.card:hover .card__buy-now {
    bottom: 5%;
    opacity: 1;
    transition-delay: 1.6s;
}

.card__buy-now-btn {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: rgb(197, 37, 37);
    color: #2a2a2a;
    font-size: 0.9em;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.card__buy-now-btn:hover {
    color: #cccccc;
    background-color: black;
}
